@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .title {
    @apply font-bold text-3xl text-center;
  }

  .max-w-default {
    max-width: 1200px;
  }

  .px-default {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .bg-gray-forms {
    background-size: cover;
    @apply bg-grayForms
    /* bg-repeat-y */
    bg-blend-multiply;
  }

  .link {
    @apply border-b-2 border-b-transparent hover:border-b-white transition-all ease-in-out text-lg;
  }

  .link-btn {
    @apply bg-primary rounded-md py-2 px-4 transition-all ease-in-out hover:bg-opacity-80;
  }

  @media (min-width: 425px) {
    .px-default {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

/* width */
::-webkit-scrollbar {
  @apply w-[7px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-tertiary
  rounded-lg
  hover:bg-black;
}
