@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

hr {
  border: none;
}

@layer components {
  .title {
    @apply font-bold text-4xl text-center text-primary;
  }

  .form-title {
    @apply font-semibold text-5xl text-center;
  }

  .link {
    @apply inline-flex gap-x-1 items-center border-b-2 border-b-transparent hover:border-b-white transition-all ease-in-out text-lg data-[active=true]:border-b-primary;
  }

  .link-btn {
    @apply bg-primary text-white border flex items-center justify-center border-primary rounded-md py-2 px-4 transition-all ease-in-out hover:bg-white hover:text-primary gap-2 data-disabled:bg-gray-secondary data-disabled:border-gray-secondary data-disabled:text-white;
  }

  .link-btn-secondary {
    @apply bg-white text-primary border flex items-center justify-center border-primary rounded-md py-2 px-4 transition-all ease-in-out hover:bg-primary hover:text-white gap-2 data-disabled:bg-gray-secondary data-disabled:border-gray-secondary data-disabled:text-white;
  }

  .floating {
    @apply text-white size-12 p-1 fixed z-20 bottom-6 right-6 transition-all duration-500;
  }

  .embla {
    @apply max-w-full;
  }

  .embla__viewport {
    @apply overflow-x-hidden relative w-full;
  }

  .embla__container {
    @apply flex w-full;
  }

  .embla__slide {
    flex: 0 0 100%;
    @apply min-w-0 flex flex-col justify-center items-center;
  }

  .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    @apply mt-4 mx-4 gap-4 justify-between;
  }

  .embla__dots {
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
    @apply flex flex-wrap justify-end items-center;
  }

  .embla__dot {
    -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
    -webkit-appearance: none;
    @apply appearance-none rounded-full justify-center items-center h-8 w-8 m-0 p-0 border-none cursor-pointer inline-flex touch-manipulation bg-transparent;
  }

  .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem rgb(54, 49, 61);
    content: "";
    @apply flex items-center rounded-full h-3 w-3;
  }

  .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem #d03833;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .max-w-default {
    max-width: 1200px;
  }

  .min-h-fecomercio {
    min-height: calc(100vh - 260px - 120px);
  }

  .px-default {
    @apply px-4 xs:px-8;
  }

  .bg-gray-forms {
    /* bg-repeat-y */
    @apply bg-grayForms bg-cover bg-blend-multiply;
  }
}

/* width */
::-webkit-scrollbar {
  @apply flex touch-none select-none z-20 h-full w-2.5;
}

/* Track */
::-webkit-scrollbar-track {
  @apply hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply relative flex-1 rounded-full transition-all ease-in-out bg-slate-200 hover:bg-slate-400;
}
