@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

@layer components {
  .title {
    @apply font-bold text-3xl text-center;
  }

  .form-title {
    @apply font-semibold text-5xl text-center;
  }

  .link {
    @apply inline-flex gap-x-1 items-center border-b-2 border-b-transparent hover:border-b-white transition-all ease-in-out text-lg;
  }

  .link-btn {
    @apply bg-primary text-white border flex items-center justify-center border-primary rounded-md py-2 px-4 transition-all ease-in-out hover:bg-white hover:text-primary gap-2 data-disabled:bg-gray-secondary data-disabled:border-gray-secondary data-disabled:text-white;
  }

  .link-btn-secondary {
    @apply bg-white text-primary border flex items-center justify-center border-primary rounded-md py-2 px-4 transition-all ease-in-out hover:bg-primary hover:text-white gap-2 data-disabled:bg-gray-secondary data-disabled:border-gray-secondary data-disabled:text-white;
  }

  .floating {
    @apply text-white size-12 p-1 fixed z-20 bottom-6 right-6 transition-all duration-500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .max-w-default {
    max-width: 1200px;
  }

  .px-default {
    @apply px-4 xs:px-8;
  }

  .bg-gray-forms {
    /* bg-repeat-y */
    @apply bg-grayForms bg-cover bg-blend-multiply;
  }
}

/* width */
::-webkit-scrollbar {
  @apply flex touch-none select-none z-20 h-full w-2.5;
}

/* Track */
::-webkit-scrollbar-track {
  @apply hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply relative flex-1 rounded-full transition-all ease-in-out bg-slate-200 hover:bg-slate-400;
}
